name: Go

on: [push]
jobs:
  test:
    name: Check code quality and run tests
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v3
      with:
        go-version: 1.24

    - name: Format
      run: diff -u <(echo -n) <(gofmt -d ./)

    - name: Suspicious constructs
      run: go vet ./...

    - name: Build
      run: go build -v ./...

    - name: Test
      run: go test -v ./...
